<div class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a class="logo" href="/">
        {% include "svg/logo.svg" %}
      </a>
    </div>
    <select id="fontFamily" name="fontFamily">
      <option name="fira-code" value="fira-code" selected>ru</option>
      <option name="jetbrains-mono" value="jetbrains-mono">en</option>
    </select>
  </div>


  <div class="nav-container">
    <nav class="global-navigation" role="navigation">
      {% if page.url == '/front-end/' %}<b class="global-navigation__item">фронтенд</b>
      {% else %}<a class="global-navigation__item" href="/front-end/">фронтенд</a>{% endif %}

      {% if page.url == '/tools/' %}<b class="global-navigation__item">инструменты</b>
      {% else %}<a class="global-navigation__item" href="/tools/">инструменты</a>{% endif %}

      {% if page.url == '/blog/' %}<b class="global-navigation__item">блог</b>
      {% else %}<a class="global-navigation__item" href="/blog/">блог</a>{% endif %}
    </nav>
    <nav>
      <a href="https://github.com/ymatuhin" target="_blank">гитхаб</a>
      <a href="https://t.me/ymatuhin" target="_blank">телега</a>
      <a href="#">почта</a>
      <a href="#">рсс</a>
    </nav>
  </div>
</div>
