<div class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a class="logo" href="/">
        <svg fill="none" height="16" viewBox="0 0 259 32" xmlns="http://www.w3.org/2000/svg"
        >
          <clipPath id="a">
            <path d="m0 0h259v32h-259z"/>
          </clipPath>
          <g clip-path="url(#a)" fill="#000">
            <path
              d="m234.262 27.8376-.004 3.849h.004-3.983v-31.32869h3.58l20.946 24.83919v-24.83919h3.983v31.32869h-3.352l-3.272-3.849-17.902-21.12444z"/>
            <path d="m252.162 27.8374 3.277 3.849h-21.179v-3.849z" fill-opacity=".25"/>
            <path d="m218.699 31.6866v-31.32869h3.983v31.32869z"/>
            <path
              d="m207.115 16.6936v-16.33569h3.985v31.32869h-3.985v-11.1441h-21.131v11.1441h-3.984v-31.32869h3.984v16.33569z"/>
            <path
              d="m149.876 4.20686v13.47134c0 2.8196.893 5.2811 2.636 7.3846 1.742 2.1035 4.288 3.1776 7.638 3.1776s5.941-1.0741 7.684-3.1776c1.742-2.1035 2.591-4.565 2.591-7.3846v-13.47134-3.84895h3.975v17.23079c0 4.0279-1.25 7.4293-3.796 10.2042-2.547 2.8196-6.031 4.207-10.454 4.207-4.422 0-7.907-1.3874-10.453-4.207-2.546-2.7749-3.797-6.1763-3.797-10.2042v-17.23079h3.976z"/>
            <path d="m149.875.35791h20.549v3.84895h-20.549z" fill-opacity=".25"/>
            <path d="m110 .35791h29.8v3.84895h-12.906v27.47974h-3.988v-27.47974h-12.906z"/>
            <path d="m84.9238 31.6864 2.0764-3.849h21.4878l2.086 3.849z"/>
            <path
              d="m110.575 31.6867-2.085-3.8489-10.7392-19.82662-10.7395 19.82662-2.0869 3.8489h-4.6236l17.45-31.6867 17.4502 31.6867z"/>
            <path d="m70.303 27.8374v3.849h-26.6741v-3.849z" fill-opacity=".25"/>
            <path
              d="m43.5781 6.71316v21.12444 3.849h-3.9785v-31.32869h3.621l13.679 16.82799 13.6791-16.82799h3.6209v31.32869h-3.9785v-3.849-21.12444l-13.3215 16.33564z"/>
            <path
              d="m29.811.35791h4.689l-15.214 23.27269v8.056h-3.9825v-8.056l-15.3035-23.27269h4.6537l12.574 19.28949 10.068-15.44054z"/>
            <path d="m29.8175.35791-2.5157 3.84895h-11.2784l2.4616-3.84895z" fill-opacity=".25"/>
          </g>
        </svg>
      </a>
    </div>
    <select id="fontFamily" name="fontFamily">
      <option name="fira-code" value="fira-code" selected>ru</option>
      <option name="jetbrains-mono" value="jetbrains-mono">en</option>
    </select>
  </div>


  <div class="nav-container">
    <nav class="global-navigation" role="navigation">
      {% if page.url == '/front-end/' %}<b class="global-navigation__item">фронтенд</b>
      {% else %}<a class="global-navigation__item" href="/front-end/">фронтенд</a>{% endif %}

      {% if page.url == '/tools/' %}<b class="global-navigation__item">инструменты</b>
      {% else %}<a class="global-navigation__item" href="/tools/">инструменты</a>{% endif %}

      {% if page.url == '/blog/' %}<b class="global-navigation__item">блог</b>
      {% else %}<a class="global-navigation__item" href="/blog/">блог</a>{% endif %}
    </nav>
    <nav>
      <a href="https://github.com/ymatuhin" target="_blank">гитхаб</a>
      <a href="https://t.me/ymatuhin" target="_blank">телега</a>
      <a href="#">почта</a>
      <a href="#">рсс</a>
    </nav>
  </div>
</div>
