<header class="post-header / wrap-inner">
    <span class="post-header__info">
        {% include "pubdate.liquid", date: page.date %} &nbsp;/&nbsp;
        <span class="post-category">
        {% include "categories.liquid" categories: categories %}
        </span>
    </span>
    <h1 class="post-header__title"
        itemprop="name headline">{{ title | escape }}</h1>
</header>
