{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true,
  "bracketSpacing": true
}
