blockquote {
  position: relative;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  margin: 0;
  padding: 25px;
}

blockquote:before {
  content: ">";
  display: block;
  position: absolute;
  left: 0;
  color: var(--accent-color);
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}
