blockquote {
  position: relative;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

blockquote::before {
  content: ">";
  display: block;
  position: absolute;
  left: 0;
  color: var(--accent-color);
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}
