button,
.button {
  position: relative;
  display: inline-block;
  font: inherit;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  background: transparent;
  color: var(--accent-color);
  padding: 5px 18px;
  border: 4px solid var(--accent-color);
  transition: background 0.15s linear;
  appearance: none;
  cursor: pointer;
  outline: none;
}

button:hover,
.button:hover {
  background: color-mix(in srgb, var(--accent-color) 15%, transparent);
}

button:focus-visible,
.button:focus-visible {
  outline: 1px solid;
  outline-offset: 2px;
}

fieldset button,
fieldset .button {
  margin-top: calc(var(--text-line-height) * 0.5);
  width: 100%;
}
