code,
kbd {
  font-family: var(--code-font-family), monospace;
  background: var(--lighter-background-color);
  padding: 1px 6px 2px;
  border: 1px solid var(--border-color);
}

:not(pre) > code {
  white-space: nowrap;
}

pre {
  background: var(--lighter-background-color);
  padding: 0.75rem 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid var(--border-color);
  tab-size: 2;
  font-size: 1rem;
}

code code,
pre code {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
