h1 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: calc(var(--text-font-size) * 0.2);
}

h1,
h2 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  letter-spacing: 0.04em;
  margin: 3rem 0 1rem;
}
