img, iframe {
  background-color: var(--lighter-background-color);
  display: block;
  max-width: 100%;
  height: auto;
  border: 8px solid var(--accent-color);
  padding: 8px;
}

/* Old TV flare */
figure {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
}

figure::after {
  content: '';
  position: absolute;
  inset: 1rem;
  background: linear-gradient(to top, transparent, transparent, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25));
  background-size: 100% 2px;
  transition: opacity .15s ease;
}

figure img,
figure iframe,
figure video {
  margin-bottom: 0;
}

figure figcaption {
  background: var(--accent-color);
  color: var(--background-color);
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  margin-top: -8px;
}
