img, iframe {
  background-color: var(--lighter-background-color);
  display: block;
  max-width: 100%;
  height: auto;
  border: 8px solid var(--accent-color);
  padding: 8px;
}

figure img,
figure iframe,
figure video {
  margin-bottom: 0;
}

figure figcaption {
  background: var(--accent-color);
  color: var(--background-color);
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  margin-top: -8px;
}
