$color-background: #121516;
$color-text: #b6afb3;
$color-text-secondary: #75757a;
$color-heading: #fafafa;
// $color-background: #1a1b25;
// $color-text: #acb0d0;
// $color-text-secondary: #646e9c;
// $color-heading: #c0caf5;

$base-font-size: 20 !default; // in pixels
$base-line-height: 1.5 !default;
$leading: $base-line-height * 1rem !default;

// Rate of growth for headings
$header-scale: 1.414 !default;

$page-space: calc(0.5rem + 2vh) calc(1rem + 5vw);
