---
layout: page
title: 404
description: Страница, которую вы искали, больше не существует.
permalink: 404.html
---

<p>
  Такой страницы больше нет, а может и не было никогда. <br>
  Если вы уверены что она была, напишите мне на почту <a href="mailto:ym@ymatuhin.ru">ym@ymatuhin.ru</a>.
</p>
