---
layout: default
permalink: index.html
---

{% include "page/intro.liquid" %}

<br>
<br>

{% assign homePosts = "" | split: "" %}
{% for tag in collections.postTypes %}
{% assign categoryPosts = collections.posts | where_exp: "post", "post.data.tags contains tag" %}
{% if categoryPosts.size > 2 %}
{% assign recentPosts = categoryPosts | slice: 0, 2 %}
{% for post in recentPosts %}
{% unless homePosts contains post %}
{% assign homePosts = homePosts | push: post %}
{% endunless %}
{% endfor %}
{% endif %}
{% endfor %}
{% assign sortedPosts = homePosts | sort: "date" | reverse %}

<div class="cards">
  {% for post in sortedPosts %}
  {% assign postTypes = "" | split: "" %}
  {% for postTag in post.data.tags %}
    {% if postTag == "blog" or postTag == "frontend" or postTag == "tools" or postTag == "books" %}
      {% assign postTypes = postTypes | push: postTag %}
    {% endif %}
  {% endfor %}
  {% include "card.liquid"
    tag: "h2",
    categories: postTypes,
    image: post.data.image.path,
    link: post.url,
    title: post.data.title,
    description: post.data.description %}
  {% endfor %}
</div>
