---
layout: default
permalink: index.html
---

{% include "page/intro.liquid" %}

<br>
<br>

<div class="cards">
  {% for post in collections.posts limit: 10 %}
  {% include "card.liquid"
    tag: "h2",
    tags: post.data.tags,
    date: post.date,
    imagePath: post.data.image.path,
    imageAlt: post.data.image.alt,
    link: post.url,
    title: post.data.title,
    description: post.data.description %}
  {% endfor %}
</div>

{% if collections.posts.size > 10 %}
  <p>
    <a class="button" href="/posts/2/">Older posts</a>
  </p>
{% endif %}
