<div class="comments / js-comments">
  <div class="comments__headline">
    <h{{ content | maxLevelHeading | plus: 2 }}>
      Комментарии
    </h{{ content | maxLevelHeading | plus: 2 }}>
    <label>
      <input type="radio" name="comments-system" value="telegram">
      <span class="full">Телеграм</span>
      <span class="short">TG</span>
    </label>
    <label>
      <input type="radio" name="comments-system" value="vk">
      <span class="full">Вконтакте</span>
      <span class="short">VK</span>
    </label>
  </div>

  <div class="comments__content / js-comments-content"></div>
  <script src="/assets/js/comments.js" type="module"></script>
</div>

{% css %}
  {% include "styles/comments.css" %}
{% endcss %}
