<footer class="footer / {{ class }}">
  <p>
    Юра Матюхин (ymatuhin) © <a href="https://web.archive.org/web/20260000000000*/http://ymatuhin.ru/">2013–{{ "now" | date: "%Y" }}</a>.
    <br>
    Вдохновлено темой <a href="https://github.com/panr/hugo-theme-terminal">Terminal</a>, <a href="https://github.com/ymatuhin/ymatuhin.ru">под капотом</a> работает на <a href="https://www.11ty.dev/">11ty</a>.
    <br>
    100/100/100/100 в Lighthouse, gg wp
  </p>
</footer>

{% css %}
  {% include "styles/footer.css" %}
{% endcss %}
