<header class="header">
  <div class="header__inner">
    <a class="header__logo" href="/" aria-label="Юра Матюхин — главная страница">
      {% include "svg/logo.svg" %}
    </a>
  </div>

  <div class="nav-container">
    <nav class="global-navigation" aria-label="Основные категории">
      Теги:
      {% if page.url == '/tag/разработка/' %}<b class="global-navigation__item">разработка</b>,
      {% else %}<a class="global-navigation__item" href="/tag/разработка/">разработка</a>,{% endif %}

      {% if page.url == '/tag/блог/' %}<b class="global-navigation__item">не разработка</b>,
      {% else %}<a class="global-navigation__item" href="/tag/блог/">не разработка</a>,{% endif %}

      {% if page.url == '/tags/' %}<b class="global-navigation__item">все</b>
      {% else %}<a class="global-navigation__item" href="/tags/">все</a>{% endif %}
    </nav>
    <nav aria-label="Социальные ссылки: GitHub, Telegram, почта и RSS">
      <a href="https://github.com/ymatuhin">гитхаб</a>
      <a href="https://t.me/ymatuhin">телега</a>
      <a href="#">почта</a>
      <a href="#">рсс</a>
    </nav>
  </div>
</header>

{% css %}
{% include "styles/header.css" %}
{% endcss %}
