<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title | default: site.title }}</title>
  <meta name="description" content="{{ description | default: site.description }}">

  {% comment %} Ubuntu Sans Mono {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

  {% comment %} Inline CSS {% endcomment %}
  <style>
    @layer base, forms, content, layout, components, utilities;

    {% include "styles/base.css" %}
    {% include "styles/content.css" %}
    {% include "styles/utilities.css" %}

    {% getBundle "css" %}
  </style>


  {% comment %} Async CSS {% endcomment %}
  {% css "defer" %}
  {% include "styles/prism.css" %}
  {% endcss %}
  <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'defer' %}" media="print" onload="this.media='all'">

  {% comment %} Icons {% endcomment %}
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=JymzngPEmg2">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=JymzngPEmg2">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=JymzngPEmg2">
  <link rel="manifest" href="/assets/icons/manifest.json?v=JymzngPEmg2">
  <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=JymzngPEmg2" color="#0c00ff">
  <link rel="shortcut icon" href="/assets/icons/favicon.ico?v=JymzngPEmg2">
  <meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=JymzngPEmg2">
  <meta name="theme-color" content="#0c00ff">
  <link rel="manifest" href="/manifest.json">

  <link rel="alternate" href="{{ site.feed_url }}" type="application/atom+xml" title="{{ site.title }}">

  {% getBundle "html", "head" %}
</head>
