<header class="header">
  <div class="header__inner">
    <a class="header__logo" href="/" aria-label="Юра Матюхин — главная страница">
      {% include "svg/logo.svg" %}
    </a>
  </div>

  <div class="nav-container">
    <nav class="global-navigation" aria-label="Основные категории">
      {% if page.url == '/front-end/' %}<b class="global-navigation__item">фронтенд</b>
      {% else %}<a class="global-navigation__item" href="/front-end/">фронтенд</a>{% endif %}

      {% if page.url == '/tools/' %}<b class="global-navigation__item">инструменты</b>
      {% else %}<a class="global-navigation__item" href="/tools/">инструменты</a>{% endif %}

      {% if page.url == '/blog/' %}<b class="global-navigation__item">блог</b>
      {% else %}<a class="global-navigation__item" href="/blog/">блог</a>{% endif %}
    </nav>
    <nav aria-label="Социальные ссылки: GitHub, Telegram, почта и RSS">
      <a href="https://github.com/ymatuhin" target="_blank" rel="noopener noreferrer">гитхаб</a>
      <a href="https://t.me/ymatuhin" target="_blank" rel="noopener noreferrer">телега</a>
      <a href="#">почта</a>
      <a href="#">рсс</a>
    </nav>
  </div>
</header>

{% css %}
{% include "styles/header.css" %}
{% endcss %}
