<fieldset class="intro">
  <legend>Хэлллоу 👋</legend>
  <p>Я Юра Матюхин, фронтенд лид в <a href="https://lifehacker.ru/" target="_blank" rel="noopener noreferrer">lifehacker.ru</a> и <a href="https://burninghut.ru" target="_blank" rel="noopener noreferrer">burninghut.ru</a></p>
  <p>Иногда я нахожу что-то интересное и мне хочется этим поделиться. Этот сайт создан как раз для таких случаев. Поскольку работа занимает большу́ю часть моей жизни, заметок об этом будет больше, но я так же планирую писать обо всем подряд.</p>
  <p>Живу в Брянской области, увлекаюсь разным, но не долго. В последнее время играю в ЛоЛ, смотрю ютуб/аниме, что-нибудь делаю дома или на участке. Было время, когда увлекался FPV (сейчас с этим сложно), скетчингом, волейболом, настольным теннисом.</p>
</fieldset>

{% css %}
{% include "styles/intro.css" %}
{% endcss %}
