@import "../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav {
  margin-left: auto;
  display: flex;
  gap: 2rem;

  a {
    padding: 0.5rem;
    margin: -0.5rem;
  }
}

.logo {
  padding: 0.5rem;
  margin: -0.5rem;
  cursor: pointer;
  letter-spacing: 0.5px;

  span {
    color: $color-text-secondary;
    padding: 2px;
  }

  // img {
  //   width: 54px;
  //   height: auto;
  // }
}
