---
layout: default
pagination:
  data: collections.tagPages
  size: 1
  alias: currentTagPage
permalink: "/tag/{{ currentTagPage.slug }}/index.html"
---

<article class="post typo white-content wrap-inner">
  <header class="post-header">
    <h1 class="post-header__title">Тег: {{ currentTagPage.name }}</h1>
  </header>
</article>

<div class="cards">
  {% for post in collections.posts %}
    {% assign showPost = false %}
    {% assign currentTagKey = currentTagPage.key %}
    {% for postTag in post.data.tags %}
      {% assign postTagNormalized = postTag | tagSlug %}
      {% if postTagNormalized == currentTagKey %}
        {% assign showPost = true %}
      {% endif %}
    {% endfor %}

    {% if showPost %}
      {% include "card.liquid"
        tag: "h2",
        categories: post.data.tags,
        date: post.date,
        image: post.data.image.path,
        link: post.url,
        title: post.data.title,
        description: post.data.description %}
    {% endif %}
  {% endfor %}
</div>
