body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6666666667;
  font-weight: 400;
  color: var(--color-text);
  background: var(--color-background);
}

a {
  color: var(--c-brand);
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  text-decoration: underline;
}

pre, code {
  font-family: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;
}
