html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family), monospace;
  min-height: 100vh;
  font-weight: 400;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  background-color: var(--deeper-background-color);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: calc(var(--text-font-size) * 0.2);
}

h1, h2 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  letter-spacing: 0.04em;
  margin: 3rem 0 1rem;

}

p, ul, ol,
img, figure, video,
table {
  margin-bottom: 1rem;
}

a {
  color: var(--accent-color);
  text-underline-offset: 2px;
}

a[target="_blank"]::after {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z' fill='black'/%3E%3C/svg%3E");
  image-rendering: pixelated;
}

a:focus-visible, a:hover {
  text-decoration: none;
}

button {
  position: relative;
  font: inherit;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: transparent;
  color: var(--accent-color);
  padding: 5px 18px;
  border: 4px solid var(--accent-color);
  transition: background 0.15s linear;
  appearance: none;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: color-mix(in srgb, var(--accent-color) 15%, transparent);
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid;
  outline-offset: 2px;
}

fieldset {
  display: inline-block;
  border: 2px solid var(--text-color);
  padding: 1rem 1.5rem 1.5rem;
}

fieldset legend {
  padding: 0 0.75rem;
  margin-left: -0.75rem;
}

fieldset *:last-child {
  margin-bottom: 0;
}

fieldset input,
fieldset select,
fieldset textarea,
fieldset label,
fieldset button {
  margin-top: calc(var(--line-height) * 0.5);
  width: 100%;
}

label {
  display: inline-block;
}

label input {
  margin-top: 0;
}

input,
textarea,
select {
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 10px;
  font: inherit;
  appearance: none;
}

input[type="checkbox"] {
  width: auto;
}

input:focus-visible,
input:active,
textarea:focus-visible,
textarea:active,
select:focus-visible,
select:active {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

input:active,
textarea:active,
select:active {
  box-shadow: none;
}

select {
  background-image: linear-gradient(
    45deg,
    transparent 50%,
    var(--accent-color) 50%
  ),
  linear-gradient(135deg, var(--accent-color) 50%, transparent 50%);
  background-position: calc(100% - 20px), calc(100% - 15px);
  background-size: 5px 5px,
  5px 5px;
  background-repeat: no-repeat;
  padding-right: 40px;
}

select option {
  background: var(--background-color);
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  padding: 10px;
  box-shadow: inset 0 0 0 3px var(--background-color);
}

input[type="radio"] {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  border-radius: 20px;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--accent-color);
}

img {
  display: block;
  max-width: 100%;
  border: 8px solid var(--accent-color);
  padding: 8px;
  overflow: hidden;
}

figure img,
figure video {
  margin-bottom: 0;
}

figure figcaption {
  background: var(--accent-color);
  color: var(--background-color);
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  margin-top: -8px;
}

ul,
ol {
  margin-left: 4ch;
  padding: 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
}

li::marker {
  color: var(--accent-color);
}

ul li,
ol li {
  position: relative;
}

code,
kbd {
  font-family: "Fira Code",
  "JetBrains Mono",
  Monaco,
  Consolas,
  Ubuntu Mono,
  monospace !important;
  font-feature-settings: normal;
  background: color-mix(in srgb, var(--text-color) 5%, transparent);
  color: color-mix(in srgb, var(--text-color) 5%, var(--accent-color));
  padding: 0 6px;
  margin: 0 2px;
  font-size: 0.95em;
}

code {
  border: 1px solid color-mix(in srgb, var(--text-color) 25%, transparent);
}

kbd {
  border-top: 1px solid color-mix(in srgb, var(--accent-color) 25%, transparent);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: 4px;
}

code code {
  background: transparent;
  padding: 0;
  margin: 0;
}

pre {
  tab-size: 4;
  background: color-mix(in srgb, var(--text-color) 5%, transparent) !important;
  color: color-mix(in srgb, var(--text-color) 5%, var(--accent-color));
  padding: 20px 10px;
  font-size: 0.95em !important;
  overflow: auto;
  border: 1px solid color-mix(in srgb, var(--text-color) 25%, transparent);
}

pre code {
  background: none !important;
  margin: 0;
  padding: 0;
  font-size: inherit;
  border: none;
}

sup {
  line-height: 0;
}

abbr {
  position: relative;
  text-decoration-style: wavy;
  text-decoration-color: var(--accent-color);
  cursor: help;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.25em;
}

mark {
  background: color-mix(in srgb, var(--accent-color) 45%, transparent);
  color: var(--text-color);
}

blockquote {
  position: relative;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  margin: 0;
  padding: 25px;
}

blockquote:before {
  content: ">";
  display: block;
  position: absolute;
  left: 0;
  color: var(--accent-color);
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

table {
  table-layout: auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid var(--text-color);
  padding: 10px;
}

th {
  border-style: solid;
  color: var(--text-color);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

hr {
  width: 100%;
  border: none;
  background: var(--accent-color);
  height: 2px;
}

/* Bold elements */

h1, h2, h3, h4, h5, h6,
b, strong,
th,
button {
  font-weight: 600;
}
