.more-box {
  margin-top: var(--gap);
  text-align: center;
}
@media (max-width: var(--sidebar-min-width)), (max-height: var(--hide-footer-height)) {
  .more-box {
    margin-top: var(--gap-sm);
  }
}

.round-btn {
  display: inline-block;
  margin: 0 auto;
  padding: 12px 37px;
  border: 1px solid var(--c-card-border);
  border-radius: 27px;
  background: #fff;
  color: #000;
  vertical-align: top;
  font-weight: bold;
  font-size: 18px;
}
