.site-main {
  margin-left: var(--sidebar-width);
}
@media (max-width: var(--sidebar-min-width)), (max-height: var(--hide-footer-height)) {
  .site-main {
    margin-left: 0;
  }
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--gap);
  width: var(--sidebar-width);
}
@media (min-width: var(--max-website-width)) {
  .site-header {
    left: 50%;
    margin-left: -600px;
  }
}
@media (max-width: var(--sidebar-min-width)), (max-height: var(--hide-footer-height)) {
  .site-header {
    position: static;
    margin-left: initial;
    padding: var(--gap-sm);
    width: auto;
    text-align: center;
  }
  .site-header br {
    display: none;
  }
}
.site-header__title {
  color: #000;
  letter-spacing: -0.04em;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.2;
}
.site-header__description {
  margin-top: 5px;
  margin-bottom: 0;
  color: var(--c-gray);
  font-weight: 400;
  font-weight: 300;
  font-size: 14px;
}

.site-navigation {
  margin-top: 60px;
}
@media (max-width: var(--sidebar-min-width)), (max-height: var(--hide-footer-height)) {
  .site-navigation {
    margin-top: var(--gap-xsm);
  }
}
.site-navigation__item {
  display: block;
  padding: 4px 0;
  color: var(--c-gray-link);
  font-weight: 300;
  font-size: 16px;
}
@media (max-width: var(--sidebar-min-width)), (max-height: var(--hide-footer-height)) {
  .site-navigation__item {
    display: inline-block;
    padding: 4px;
    vertical-align: top;
  }
}

b.site-navigation__item {
  color: #000;
  font-weight: 500;
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--gap);
  width: var(--sidebar-width);
}
@media (min-width: var(--max-website-width)) {
  .site-footer {
    left: 50%;
    margin-left: -600px;
  }
}
@media (max-width: var(--sidebar-min-width)), (max-height: var(--hide-footer-height)) {
  .site-footer {
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: initial;
    padding: var(--gap-sm);
    width: auto;
    text-align: center;
  }
}
.site-footer__link {
  display: inline-block;
  padding-right: 14px;
  vertical-align: top;
}
@media (max-width: 768px) {
  .site-footer__link {
    padding: 0 7px;
  }
}
.site-footer__icon {
  display: block;
  height: 20px;
}

