.default-layout {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  max-width: 58rem;
  min-height: 100vh;
  border-left: 1px solid #313244;
  border-right: 1px solid #313244;
  background-color: var(--background-color);
}

.default-layout::after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  background: repeating-linear-gradient(90deg, var(--accent-color), var(--accent-color) 2px, transparent 0, transparent 10px);
}

.default-layout__content {
  flex: 1 0 auto;
}
