.white-content {
  overflow: hidden;
  padding: var(--gap);
  border: 1px solid var(--c-card-border);
  background: #fff;
}
@media (max-width: var(--sidebar-min-width)), (max-height: var(--hide-footer-height)) {
  .white-content {
    padding: var(--gap-sm);
  }
}

.post-header {
  margin-bottom: var(--lh);
  font-weight: 300;
}
.post-header__info {
  display: block;
  margin-bottom: calc(var(--lh) / 4);
  color: var(--c-gray);
  font-size: var(--fz-sm);
}

.hypercomments-box {
  padding-top: var(--gap-sm);
}
