.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--gap);
  width: var(--sidebar-width);
}
@media (min-width: var(--max-website-width)) {
  .site-footer {
    left: 50%;
    margin-left: -600px;
  }
}
@media (max-width: var(--sidebar-min-width)), (max-height: var(--hide-footer-height)) {
  .site-footer {
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: initial;
    padding: var(--gap-sm);
    width: auto;
    text-align: center;
  }
}
.site-footer__link {
  display: inline-block;
  padding-right: 14px;
  vertical-align: top;
}
@media (max-width: 768px) {
  .site-footer__link {
    padding: 0 7px;
  }
}
.site-footer__icon {
  display: block;
  height: 20px;
}

