.site-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--gap);
  width: var(--sidebar-width);
}
@media (min-width: var(--max-website-width)) {
  .site-header {
    left: 50%;
    margin-left: -600px;
  }
}
@media (max-width: var(--sidebar-min-width)), (max-height: var(--hide-footer-height)) {
  .site-header {
    position: static;
    margin-left: initial;
    padding: var(--gap-sm);
    width: auto;
    text-align: center;
  }
  .site-header br {
    display: none;
  }
}
.site-header__title {
  color: #000;
  letter-spacing: -0.04em;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.2;
}
.site-header__description {
  margin-top: 5px;
  margin-bottom: 0;
  color: var(--c-gray);
  font-weight: 400;
  font-weight: 300;
  font-size: 14px;
}

