.typo > *:last-child {
  margin-bottom: 0;
}
.typo iframe {
  max-width: 100%;
}
.typo img {
  max-width: 100%;
  height: auto;
}
.typo h1,
.typo h2,
.typo h3,
.typo h4,
.typo p,
.typo ul,
.typo ol,
.typo table,
.typo pre,
.typo blockquote,
.typo .highlighter-rouge {
  margin-bottom: var(--gap-sm);
}
.typo * + ul,
.typo * + ol {
  margin-top: -var(--gap-xsm);
}
.typo h1,
.typo h2,
.typo h3,
.typo h4 {
  line-height: 1.2;
  margin-top: 60px;
}
.typo h1 {
  margin-top: 0;
  font-size: 4.4rem;
}
.typo h2 {
  font-size: 4.2rem;
}
.typo .bigger {
  font-size: 1.563em;
  font-weight: bold;
}
.typo h3 {
  font-size: 1.563em;
}
.typo h4 {
  font-size: 1.25em;
}
.typo pre {
  overflow: auto;
  max-width: 100%;
}
.typo table {
  border-collapse: collapse;
}
.typo td,
.typo th {
  border: 1px solid var(--c-media-border);
  padding: var(--gap-xsm);
}
.typo ul,
.typo ol {
  padding-left: var(--gap-sm);
}
.typo ul ul, .typo ul ol,
.typo ol ul,
.typo ol ol {
  margin-top: var(--gap-xsm);
  margin-bottom: var(--gap-sm);
}
.typo li > * + * {
  margin-top: var(--gap-xsm);
}
.typo li + li {
  margin-top: 7.5px;
}
.typo blockquote {
  border-left: 4px solid var(--c-brand);
  padding: 7.5px var(--gap-xsm);
  padding-left: var(--gap-sm);
  color: var(--c-gray);
}
.typo blockquote p {
  margin: 0;
}
.typo blockquote p + p {
  margin-top: var(--gap-sm);
}
.typo pre, .typo code {
  font-family: var(--ff-code);
}
.typo pre {
  border-radius: 5px;
  padding: var(--gap-xsm) var(--gap-sm);
}
.typo hr {
  border: 0;
  margin: var(--gap) 0;
  padding: 0;
}
.typo hr::after {
  display: block;
  content: "⌘  ⌘  ⌘";
  text-align: center;
}
