:root {
  --background-color: #181825;
  --accent-color: #cba6f7;
  --text-color: #d6e8ee;
  --text-font-size: 17px;
  --text-line-height: 28px;
  --heading-font-size: 19px;
  --heading-line-height: 32px;
}
