@layer base {
  @view-transition {
    navigation: auto;
  }

  :root {
    --font-family: "Ubuntu Sans Mono", Monaco, Consolas, "Ubuntu Mono", monospace;
    --code-font-family: var(--font-family);
    --background-color: #181825;
    --deeper-background-color: #11111b;
    --lighter-background-color: #1e1e2e;
    --border-color: #313244;
    --accent-color: #cba6f7;
    --text-color: #cdd6f4;
    --secondary-text-color: #7f849c;
    --text-font-size: 17px;
    --text-line-height: 28px;
    --heading-font-size: 19px;
    --heading-line-height: 32px;
  }

  html {
    box-sizing: border-box;
    height: 100%;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-family), monospace;
    min-height: 100vh;
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
    background-color: var(--deeper-background-color);
    color: var(--text-color);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    text-wrap: pretty;
  }

  a {
    color: var(--accent-color);
    text-underline-offset: 2px;
  }

  a:focus-visible, a:hover {
    text-decoration: none;
  }

  a:focus-visible {
    outline: 1px solid;
    outline-offset: 2px;
  }

  a[target="_blank"]::after {
    content: "\2060";
    display: inline;
    padding-left: 20px;
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z' fill='black'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    mask-position: right center;
    image-rendering: pixelated;
  }

  a[target="_blank"] {
    overflow-wrap: anywhere;
  }

  p {
    hanging-punctuation: first last;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
