@layer content {
  h1 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: calc(var(--text-font-size) * 0.2);
  }

  h1,
  h2 {
    text-transform: uppercase;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    font-size: var(--heading-font-size);
    line-height: var(--heading-line-height);
    letter-spacing: 0.04em;
    margin: 3rem 0 1rem;
  }

  p,
  ul,
  ol,
  img,
  figure,
  video,
  table {
    margin-bottom: 1rem;
  }

  ul,
  ol {
    margin-left: 4ch;
    padding: 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0;
  }

  li::marker {
    color: var(--accent-color);
  }

  ul li,
  ol li {
    position: relative;
  }

  img {
    display: block;
    max-width: 100%;
    border: 8px solid var(--accent-color);
    padding: 8px;
    overflow: hidden;
  }

  figure img,
  figure video {
    margin-bottom: 0;
  }

  figure figcaption {
    background: var(--accent-color);
    color: var(--background-color);
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    margin-top: -8px;
  }

  code,
  kbd {
    font-family: "Fira Code",
    "JetBrains Mono",
    Monaco,
    Consolas,
    Ubuntu Mono,
    monospace !important;
    font-feature-settings: normal;
    background: color-mix(in srgb, var(--text-color) 5%, transparent);
    color: color-mix(in srgb, var(--text-color) 5%, var(--accent-color));
    padding: 0 6px;
    margin: 0 2px;
    font-size: 0.95em;
  }

  code {
    border: 1px solid color-mix(in srgb, var(--text-color) 25%, transparent);
  }

  kbd {
    border-top: 1px solid color-mix(in srgb, var(--accent-color) 25%, transparent);
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    border-bottom: 4px solid var(--accent-color);
    border-radius: 4px;
  }

  code code {
    background: transparent;
    padding: 0;
    margin: 0;
  }

  pre {
    tab-size: 4;
    background: color-mix(in srgb, var(--text-color) 5%, transparent) !important;
    color: color-mix(in srgb, var(--text-color) 5%, var(--accent-color));
    padding: 20px 10px;
    font-size: 0.95em !important;
    overflow: auto;
    border: 1px solid color-mix(in srgb, var(--text-color) 25%, transparent);
  }

  pre code {
    background: none !important;
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: none;
  }

  sup {
    line-height: 0;
  }

  abbr {
    position: relative;
    text-decoration-style: wavy;
    text-decoration-color: var(--accent-color);
    cursor: help;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.25em;
  }

  mark {
    background: color-mix(in srgb, var(--accent-color) 45%, transparent);
    color: var(--text-color);
  }

  blockquote {
    position: relative;
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    margin: 0;
    padding: 25px;
  }

  blockquote:before {
    content: ">";
    display: block;
    position: absolute;
    left: 0;
    color: var(--accent-color);
  }

  blockquote p:first-child {
    margin-top: 0;
  }

  blockquote p:last-child {
    margin-bottom: 0;
  }

  table {
    table-layout: auto;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 2px solid var(--text-color);
    padding: 10px;
  }

  th {
    border-style: solid;
    color: var(--text-color);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  hr {
    width: 100%;
    border: none;
    background: var(--accent-color);
    height: 2px;
  }

  /* Bold elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong,
  th,
  button {
    font-weight: 600;
  }
}
