fieldset {
  display: inline-block;
  border: 2px solid var(--text-color);
  padding: 1rem 1.5rem 1.5rem;
}

fieldset legend {
  padding: 0 0.75rem;
  margin-left: -0.75rem;
}

fieldset *:last-child {
  margin-bottom: 0;
}

fieldset input,
fieldset select,
fieldset textarea,
fieldset label {
  margin-top: calc(var(--text-line-height) * 0.5);
  width: 100%;
}
