label {
  display: inline-block;
}

label input {
  margin-top: 0;
}

input,
textarea,
select {
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 10px;
  font: inherit;
  appearance: none;
}

input:focus-visible,
input:active,
textarea:focus-visible,
textarea:active,
select:focus-visible,
select:active {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

input:active,
textarea:active,
select:active {
  box-shadow: none;
}

select {
  background-image: linear-gradient(
    45deg,
    transparent 50%,
    var(--accent-color) 50%
  ),
  linear-gradient(135deg, var(--accent-color) 50%, transparent 50%);
  background-position: calc(100% - 20px), calc(100% - 15px);
  background-size: 5px 5px,
  5px 5px;
  background-repeat: no-repeat;
  padding-right: 40px;
}

select option {
  background: var(--background-color);
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  inline-size: 1em;
  block-size: 1em;
  padding: 0;
  box-shadow: inset 0 0 0 3px var(--background-color);
}

input[type="radio"] {
  display: inline-block;
  border-radius: 50%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--accent-color);
}
