button {
  position: relative;
  font: inherit;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: transparent;
  color: var(--accent-color);
  padding: 5px 18px;
  border: 4px solid var(--accent-color);
  transition: background 0.15s linear;
  appearance: none;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: color-mix(in srgb, var(--accent-color) 15%, transparent);
}

button:focus-visible {
  outline: 1px solid;
  outline-offset: 2px;
}

fieldset {
  display: inline-block;
  border: 2px solid var(--text-color);
  padding: 1rem 1.5rem 1.5rem;
}

fieldset legend {
  padding: 0 0.75rem;
  margin-left: -0.75rem;
}

fieldset *:last-child {
  margin-bottom: 0;
}

fieldset input,
fieldset select,
fieldset textarea,
fieldset label,
fieldset button {
  margin-top: calc(var(--line-height) * 0.5);
  width: 100%;
}

label {
  display: inline-block;
}

label input {
  margin-top: 0;
}

input,
textarea,
select {
  background: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 10px;
  font: inherit;
  appearance: none;
}

input[type="checkbox"] {
  width: auto;
}

input:focus-visible,
input:active,
textarea:focus-visible,
textarea:active,
select:focus-visible,
select:active {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

input:active,
textarea:active,
select:active {
  box-shadow: none;
}

select {
  background-image: linear-gradient(
    45deg,
    transparent 50%,
    var(--accent-color) 50%
  ),
  linear-gradient(135deg, var(--accent-color) 50%, transparent 50%);
  background-position: calc(100% - 20px), calc(100% - 15px);
  background-size: 5px 5px,
  5px 5px;
  background-repeat: no-repeat;
  padding-right: 40px;
}

select option {
  background: var(--background-color);
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  padding: 10px;
  box-shadow: inset 0 0 0 3px var(--background-color);
}

input[type="radio"] {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  border-radius: 20px;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background: var(--accent-color);
}
