.header {
  margin-bottom: 3rem;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.header__logo {
  display: flex;
  flex: 1
}

.header__logo::after {
  content: "";
  background: repeating-linear-gradient(90deg, var(--accent-color), var(--accent-color) 2px, transparent 0, transparent 10px);
  display: block;
  width: 100%;
  margin-left: -2px;
}

.header__logo a {
  flex: none;
  max-width: 100%;
  text-decoration: none
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--accent-color);
  height: 40px;
  padding: 0 12px;
}

.logo img {
  margin: auto;
}

@media print {
  .header {
    display: none
  }
}

.nav-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.global-navigation {
}

.header select {
  border-color: var(--accent-color);
  color: #000;
  padding: 4px 2.25rem 4px 10px;
  border-width: 2px;
  background-color: var(--accent-color);
  background-image: linear-gradient(45deg, transparent 50%, #000 50%), linear-gradient(135deg, #000 50%, transparent 50%);
  background-position: calc(100% - 20px), calc(100% - 15px);
}
