@layer components {
  details.intro {
    display: inline-block;
    border: 2px solid var(--accent-color);
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
  }

  details.intro[open] {
    padding-bottom: 1.5rem;
  }

  details.intro > summary {
    cursor: pointer;
    user-select: none;
  }

  details.intro > summary:focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
  }

  details.intro > summary::marker {
    margin-right: .5rem;
    color: var(--accent-color);
  }

  details.intro[open] > summary {
    margin-bottom: 1rem;
  }

  details.intro > *:last-child {
    margin-bottom: 0;
  }
}
