@layer components {
  .intro {
    border: 2px solid var(--accent-color);
    margin-bottom: 1rem;
  }

  .intro__content {
    padding: 0 1.5rem 1.5rem;
  }

  .intro > summary {
    padding: 1rem 1.5rem;
    cursor: pointer;
    user-select: none;
  }

  .intro > summary:focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
  }

  .intro > summary::marker {
    margin-right: .5rem;
    color: var(--accent-color);
  }

  .intro__content > *:last-child {
    margin-bottom: 0;
  }

  .intro__content > *:first-child {
    margin-top: 0;
  }
}
