@layer components {
  fieldset {
    display: inline-block;
    border: 2px solid var(--text-color);
    padding: 1rem 1.5rem 1.5rem;
  }

  fieldset.intro {
    margin-bottom: 3rem;
    border-color: var(--accent-color);
  }

  fieldset legend {
    padding: 0 0.75rem;
    margin-left: -0.75rem;
  }
}
