@layer layout {
  .layout {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
    max-width: 58rem;
    min-height: 100vh;
    background-color: var(--background-color);
  }

  @media (min-width: 480px) {
    .layout {
      padding: 3rem 2rem;
    }
  }

  @media (min-width: 768px) {
    .layout {
      padding: 4rem 3rem;
    }
  }

  @media (min-width: 926px) {
    .layout {
      border-left: 1px solid #313244;
      border-right: 1px solid #313244;
    }
  }

  .layout__content {
    flex: 1 0 auto;
  }

  .layout__main {
    margin-top: 4rem;
  }
}
