@layer components {
  .cards {
    margin-top: 3rem;
  }

  .post-card_in-post {
    margin-bottom: 2rem;
  }

  .post-card + .post-card {
    margin-top: 2rem;
  }

  @media (min-width: 480px) {
    .post-card + .post-card {
      margin-top: 3rem;
    }
  }

  .post-card__title,
  .post-card__cover figure {
    margin: 0;
  }

  .post-card__divider {
    color: inherit;
    margin: 0.5rem 0;
  }

  .post-card_in-post .post-card__divider {
    color: var(--secondary-text-color)
  }

  .post-card__title {
    text-decoration: none;
  }

  .post-card__link {
    text-decoration: none;
  }

  .post-card__cover,
  .post-card__content {
    margin-top: 1rem;
  }

  .post-card__meta {
    color: var(--secondary-text-color);
  }

  .post-card__meta a {
    color: inherit;
  }
}
