@layer components {
  .post-card + .post-card {
    margin-top: 3rem;
  }

  .post-card__title {
    position: relative;
    color: var(--accent-color);
    padding-bottom: 3px;
    margin-top: 1rem;
    border-bottom: 3px dotted var(--accent-color);
  }

  .post-card__title a {
    text-decoration: none;
  }

  .post-card__title::after {
    content: "";
    position: absolute;
    bottom: -9px;
    display: block;
    width: 100%;
    border-bottom: 3px dotted var(--accent-color);
  }
}
