@layer components {
  .post-card_in-post {
    margin-bottom: 2rem;
  }

  .post-card + .post-card {
    padding-top: 2rem;
    border-top: 1px solid var(--border-color);
    margin-top: 2rem;
  }

  @media (min-width: 480px) {
    .post-card + .post-card {
      padding-top: 3.5rem;
      margin-top: 3rem;
    }
  }

  .post-card__title,
  .post-card__cover figure {
    margin: 0;
  }

  .post-card__divider {
    margin: 0.75rem 0;
  }

  .post-card__title {
    text-decoration: none;
  }

  .post-card__link {
    display: block;
    text-decoration: none;
  }

  .post-card__cover {
    margin-bottom: 1.75rem;
  }

  .post-card__meta {
    font-size: 1rem;
    color: var(--secondary-text-color);
  }

  .post-card__meta a {
    color: inherit;
  }
}
