@layer components {
  .cards {
    margin-top: 3rem;
  }

  .post-card + .post-card {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--border-color);
  }

  @media (min-width: 480px) {
    .post-card + .post-card {
      margin-top: 3rem;
      padding-top: 3rem;
    }
  }

  .post-card__title,
  .post-card__cover figure {
    margin: 0;
  }

  .post-card__divider {
    margin: 0.5rem 0;
    border-top: 3px dotted var(--accent-color);
    height: 9px;
    background: initial;
    border-bottom: 3px dotted var(--accent-color);
  }

  .post-card__title a {
    text-decoration: none;
  }

  .post-card__cover,
  .post-card__content {
    margin-top: 1rem;
  }

  .post-card__meta {
    color: var(--secondary-text-color);
  }

  .post-card__meta a {
    color: inherit;
  }
}
