a[target="_blank"]::after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z' fill='black'/%3E%3C/svg%3E");
  image-rendering: pixelated;
}

@import "prism.css";
