---
layout: default
---
{% assign homePosts = "" | split: "" %}
{% for category in collections.categories %}
    {% assign categoryPosts = collections.posts | where: "data.categories", category %}
    {% if categoryPosts.size > 2 %}
        {% assign recentPosts = categoryPosts | slice: 0, 2 %}
        {% for post in recentPosts %}
            {% unless homePosts contains post %}
                {% assign homePosts = homePosts | push: post %}
            {% endunless %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% assign sortedPosts = homePosts | sort: "date" | reverse %}

<div class="cards">
    {% for post in sortedPosts %}
        {% include "card.html"
            tag: "h2",
            categories: post.data.categories,
            image: post.data.image.path,
            link: post.url,
            title: post.data.title,
            description: post.data.description %}
    {% endfor %}
</div>
