<!DOCTYPE html>
<html lang="{{ lang | default: site.lang | default: 'en' }}">
<head>
  {% include "head.html" %}
</head>
<body>

<div class="default-layout">
  <div class="default-layout__content">
    {% include "header.html" %}
    <br>
    <main class="site-main / container" role="main">
      {{ content }}
    </main>
  </div>
  <div class="default-layout__footer">
    2
  </div>
</div>

<!--<div class="background">-->
<!--  <div class="container">-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--    <div class="line"></div>-->
<!--  </div>-->
<!--</div>-->


<!--<main class="site-main / container" role="main">-->
<!--  {{ content }}-->
<!--</main>-->

<!--{% include "footer.html" %}-->

<img src="https://mc.yandex.ru/watch/28017147" style="position:absolute; left:-9999px;" alt=""/>
</body>
</html>
