---
layout: default
---

<article class="post typo white-content">
  {% include "post-card.liquid",
    tag: "h1",
    tags: tags,
    date: page.date,
    title: title,
    in-post: true %}

  <div>
    {{ content }}
  </div>
</article>
