---
layout: default
---

<article class="post">
  {% include "posts/post-card.liquid",
    tag: "h1",
    tags: tags,
    date: page.date,
    title: title,
    in-post: true %}

  <heading-anchors position="afterbegin" class="post__content">
    {{ content }}
  </heading-anchors>
</article>

relatedPosts: {{ relatedPosts }}

{% if relatedPosts and relatedPosts.size > 0 %}
  <aside class="similar-articles" aria-label="Similar articles">
    <h2>Similar articles</h2>
    <ul>
      {% for post in relatedPosts %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title | default: post.fileSlug }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}

{% css %}
.post__content > :last-child { margin-bottom: 0; }
{% endcss %}

{% html "head" %}
<script type="module" src="/assets/js/heading-anchors.js"></script>
{% endhtml %}
