---
layout: default
---

<article class="post typo white-content" itemscope itemtype="http://schema.org/BlogPosting">
  {% include "post-header.liquid" %}

  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>
