---
layout: default
---

<article class="post typo white-content" itemscope itemtype="http://schema.org/BlogPosting">
  {% include "post-card.liquid",
    tag: "h1",
    tags: tags,
    date: page.date,
    title: title,
    in-post: true %}

  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>
